body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
}

.container {
  max-width: 1210px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  background: #445161;
}
.header__row {
  display: flex;
  padding: 50px 0;
  justify-content: space-between;
}
.header__title {
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
  color: #fff;
  font-size: calc(45px + 15 * (100vw / 1280));
}
.header__list {
  margin: 45px 0 0 0;
}
.header__list li {
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
  color: #fff;
  font-size: calc(12px + 8 * (100vw / 1280));
  background: url("../img/header/check_icon.png") no-repeat 0/contain;
  padding: 0 0 0 33px;
  margin: 15px 0 0 0;
}
.header__list li:first-child {
  margin: 0;
}
.header__image img {
  max-width: 100%;
}
@media (min-width: 1280px) {
  .header__title {
    font-size: 60px;
  }
  .header__list li {
    font-size: 20px;
  }
}
@media (max-width: 955px) {
  .header .container {
    max-width: 500px;
  }
  .header__row {
    flex-flow: column;
    align-items: center;
    padding: 25px 0;
  }
  .header__title {
    font-size: calc(45px + (15 + 15 * 0.7) * ((100vw - 320px) / 1280));
  }
  .header__list {
    margin: 22px 0 0 0;
  }
  .header__list li {
    font-size: calc(12px + (8 + 8 * 0.7) * ((100vw - 320px) / 1280));
    padding: 0 0 0 33px;
  }
  .header__image {
    margin: 22px 0 0 0;
  }
}
@media (max-width: 426px) {
  .header__list li {
    padding: 0 0 0 25px;
  }
}

.about__row {
  display: flex;
  padding: 50px 0;
}
.about__column {
  flex: 0 0 44%;
}
.about__column:first-child {
  flex: 0 0 56%;
}
.about__title {
  color: #445161;
  font-size: calc(24px + 6 * (100vw / 1280));
  margin: 0 0 27px 0;
}
.about__text {
  color: #333;
  font-size: calc(10px + 6 * (100vw / 1280));
  line-height: 24px;
  margin: 15px 0 0 0;
}
.about__image {
  display: flex;
  justify-content: flex-end;
}
.about__image img {
  max-width: 100%;
}
@media (min-width: 1280px) {
  .about__title {
    font-size: 30px;
  }
  .about__text {
    font-size: 16px;
  }
}
@media (max-width: 955px) {
  .about .container {
    max-width: 500px;
  }
  .about__row {
    flex-flow: column;
    align-items: center;
    padding: 25px 0;
  }
  .about__title {
    margin: 0 0 13px 0;
    font-size: calc(24px + (6 + 6 * 0.7) * ((100vw - 320px) / 1280));
  }
  .about__text {
    margin: 7px 0 0 0;
    font-size: calc(10px + (6 + 6 * 0.7) * ((100vw - 320px) / 1280));
    line-height: 20px;
  }
  .about__image {
    margin: 25px 0 0 0;
  }
}

.pluses {
  background: #f5f5f5;
}
.pluses__title {
  padding: 48px 0 0 0;
  text-align: center;
}
.pluses__body {
  margin: 26px 0 0 0;
  padding: 0 0 48px 0;
}
.pluses__row {
  display: flex;
  margin: 31px 0 0 0;
}
.pluses__row:first-child {
  margin: 0;
}
.pluses__item {
  margin: 0 0 0 20px;
}
.pluses__item:first-child {
  margin: 0;
}
.pluses__text {
  color: #333;
  font-size: calc(12px + 4 * (100vw / 1280));
  line-height: 24px;
  background: url("../img/pluses/plus.png") no-repeat 0 5px;
  padding: 0 0 0 41px;
}
@media (min-width: 1280px) {
  .pluses__text {
    font-size: 16px;
  }
}
@media (max-width: 955px) {
  .pluses .container {
    max-width: 500px;
  }
  .pluses__title {
    padding: 24px 0 0 0;
  }
  .pluses__body {
    margin: 13px 0 0 0;
    padding: 0 0 24px 0;
  }
  .pluses__row {
    flex-flow: column;
    align-items: center;
    margin: 15px 0 0 0;
  }
  .pluses__item {
    margin: 15px 0 0 0;
  }
  .pluses__text {
    font-size: calc(12px + (4 + 4 * 0.7) * ((100vw - 320px) / 1280));
  }
}

.title {
  color: #445161;
  font-size: calc(24px + 6 * (100vw / 1280));
}
@media (min-width: 1280px) {
  .title {
    font-size: 30px;
  }
}
@media (max-width: 955px) {
  .title {
    font-size: calc(24px + (6 + 6 * 0.7) * ((100vw - 320px) / 1280));
  }
}

.scrinshots__title {
  text-align: center;
  padding: 48px 0 0 0;
}
.scrinshots__body {
  margin: 32px 0 0 0;
  padding: 0 0 48px 0;
}
.scrinshots__row {
  display: flex;
  margin: 30px 0 0 0;
}
.scrinshots__item {
  display: flex;
  margin: 0 0 0 14px;
}
.scrinshots__item:first-child {
  margin: 0;
}
.scrinshots__desc {
  margin: 0 0 0 12px;
}
.scrinshots__name {
  color: #445161;
  font-size: calc(18px + 6 * (100vw / 1280));
}
.scrinshots__text {
  margin: 7px 0 0 0;
  color: #333;
  font-size: calc(12px + 4 * (100vw / 1280));
  line-height: 24px;
}
@media (min-width: 1280px) {
  .scrinshots__name {
    font-size: 24px;
  }
  .scrinshots__text {
    font-size: 16px;
  }
}
@media (max-width: 955px) {
  .scrinshots .container {
    max-width: 500px;
  }
  .scrinshots__title {
    padding: 24px 0 0 0;
  }
  .scrinshots__body {
    margin: 16px 0 0 0;
    padding: 0 0 24px 0;
  }
  .scrinshots__row {
    flex-flow: column;
    align-items: center;
    margin: 15px 0 0 0;
  }
  .scrinshots__item {
    margin: 15px 0 0 0;
    flex-flow: column;
    text-align: center;
  }
  .scrinshots__desc {
    margin: 12px 0 0 0;
  }
  .scrinshots__name {
    font-size: calc(18px + (6 + 6 * 0.7) * ((100vw - 320px) / 1280));
  }
  .scrinshots__text {
    font-size: calc(12px + (4 + 4 * 0.7) * ((100vw - 320px) / 1280));
  }
}

.reviews {
  background: #f5f5f5;
}
.reviews__title {
  padding: 48px 0 0 0;
  text-align: center;
}
.reviews__body {
  padding: 0 0 48px 0;
  margin: 32px 0 0 0;
}
.reviews__row {
  display: flex;
  margin: 24px 0 0 0;
}
.reviews__row:first-child {
  margin: 0;
}
.reviews__item {
  display: flex;
  margin: 0 0 0 30px;
}
.reviews__item:first-child {
  margin: 0;
}
.reviews__avatar {
  border-radius: 50%;
}
.reviews__message {
  font-size: calc(10px + 4 * (100vw / 1280));
  background: #ebebeb;
  border-radius: 5px;
  margin: 0 0 0 30px;
  padding: 12px 16px;
  position: relative;
}
.reviews__message::before {
  content: "";
  display: block;
  width: 0;
  border-top: 13px solid transparent;
  border-right: 15px solid #ebebeb;
  border-bottom: 13px solid transparent;
  position: absolute;
  left: -15px;
  top: 25px;
}
.reviews__text {
  color: #333;
  line-height: 18px;
  font-style: italic;
}
.reviews__author {
  margin: 10px 0 0 0;
  color: #989898;
}
@media (min-width: 1280px) {
  .reviews__message {
    font-size: 14px;
  }
}
@media (max-width: 955px) {
  .reviews .container {
    max-width: 500px;
  }
  .reviews__title {
    padding: 24px 0 0 0;
  }
  .reviews__body {
    padding: 0 0 24px 0;
    margin: 16px 0 0 0;
  }
  .reviews__row {
    flex-flow: column;
    margin: 12px 0 0 0;
  }
  .reviews__item {
    margin: 12px 0 0 0;
  }
  .reviews__message {
    margin: 0 0 0 18px;
    font-size: calc(10px + (4 + 4 * 0.7) * ((100vw - 320px) / 1280));
  }
}

.buy__title {
  text-align: center;
  padding: 50px 0 0 0;
}
.buy__row {
  display: flex;
  margin: 30px 0 0 0;
  padding: 0 0 50px 0;
  justify-content: center;
  align-items: flex-end;
}
.buy__item {
  background: #445161;
  border-radius: 5px;
  margin: 0 0 0 45px;
}
.buy__item:first-child {
  margin: 0;
}
.buy__name {
  color: #fff;
  padding: 14px 0;
  font-size: calc(20px + 4 * (100vw / 1280));
  text-align: center;
}
.buy__price {
  background: #fff;
  border: 2px solid #445161;
  color: #445161;
  font-size: calc(30px + 10 * (100vw / 1280));
  text-align: center;
  padding: 16px 102px;
}
.buy__list {
  margin: 16px 0 16px 36px;
}
.buy__list li {
  color: #fff;
  font-size: calc(10px + 4 * (100vw / 1280));
  line-height: 24px;
}
.buy__button {
  text-align: center;
  padding: 0 0 20px 0;
}
.buy__link {
  color: #445161;
  border-radius: 5px;
  display: inline-block;
  padding: 10px 108px;
  font-size: calc(14px + 4 * (100vw / 1280));
  font-weight: 700;
  text-transform: uppercase;
  background: #fff;
  transition: 0.3s;
}
.buy__link:hover {
  opacity: 0.7;
}
@media (min-width: 1280px) {
  .buy__list li {
    font-size: 14px;
  }
  .buy__name {
    font-size: 24px;
  }
  .buy__price {
    font-size: 40px;
  }
  .buy__link {
    font-size: 18px;
  }
}
@media (max-width: 955px) {
  .buy .container {
    max-width: 500px;
  }
  .buy__title {
    padding: 25px 0 0 0;
  }
  .buy__row {
    margin: 15px 0 0 0;
    padding: 0 0 25px 0;
    flex-flow: column;
    align-items: center;
  }
  .buy__item {
    margin: 22px 0 0 0;
  }
  .buy__name {
    font-size: calc(20px + (4 + 4 * 0.7) * ((100vw - 320px) / 1280));
  }
  .buy__price {
    font-size: calc(30px + (10 + 10 * 0.7) * ((100vw - 320px) / 1280));
  }
  .buy__link {
    font-size: calc(14px + (4 + 4 * 0.7) * ((100vw - 320px) / 1280));
  }
}

.contacts {
  background: #445161;
}
.contacts__title {
  color: #fff;
  padding: 50px 0 0 0;
  text-align: center;
}
.contacts__row {
  margin: 30px 0 0 0;
  padding: 0 0 50px 0;
  display: flex;
  justify-content: center;
}
.contacts__form {
  display: flex;
  flex-flow: column;
}
.contacts__input {
  color: #445161;
  font-size: calc(10px + 6 * (100vw / 1280));
  width: 500px;
  margin: 20px 0 0 0;
  padding: 8px 12px;
  border-radius: 5px;
}
.contacts__input:first-child {
  margin: 0;
}
.contacts__textarea {
  margin: 20px 0 0 0;
  color: #445161;
  font-size: calc(10px + 6 * (100vw / 1280));
  line-height: 24px;
  width: 500px;
  height: 170px;
  resize: none;
  border-radius: 5px;
  padding: 8px 12px;
}
.contacts__btn {
  margin: 20px 0 0 0;
  text-align: center;
}
.contacts__btn button {
  color: #445161;
  padding: 12px 44px;
  border-radius: 5px;
  font-size: calc(10px + 6 * (100vw / 1280));
  font-weight: 700;
  text-transform: uppercase;
  transition: 0.3s;
}
.contacts__btn button:hover {
  opacity: 0.7;
}
.contacts__right {
  margin: 0 0 0 45px;
}
.contacts__item {
  display: flex;
  margin: 18px 0 0 0;
}
.contacts__item:first-child {
  margin: 0;
}
.contacts__image {
  flex: 0 0 26px;
}
.contacts__text {
  padding: 5px 0 0 0;
  margin: 0 0 0 5px;
  color: #fff;
  font-size: calc(10px + 6 * (100vw / 1280));
}
.contacts__buttons {
  margin: 30px 0 0 0;
}
.contacts__link {
  margin: 0 0 0 2px;
}
.contacts__link:first-child {
  margin: 0;
}
@media (min-width: 1280px) {
  .contacts__input {
    font-size: 16px;
  }
  .contacts__textarea {
    font-size: 16px;
  }
  .contacts__text {
    font-size: 16px;
  }
  .contacts__btn button {
    font-size: 16px;
  }
}
@media (max-width: 955px) {
  .contacts .container {
    max-width: 500px;
  }
  .contacts__title {
    padding: 25px 0 0 0;
  }
  .contacts__row {
    margin: 15px 0 0 0;
    padding: 0 0 25px 0;
    flex-flow: column;
    align-items: center;
  }
  .contacts__input {
    font-size: calc(10px + (6 + 6 * 0.7) * ((100vw - 320px) / 1280));
    width: 250px;
    margin: 15px 0 0 0;
  }
  .contacts__textarea {
    width: 250px;
    font-size: calc(10px + (6 + 6 * 0.7) * ((100vw - 320px) / 1280));
    margin: 15px 0 0 0;
  }
  .contacts__btn {
    margin: 15px 0 0 0;
  }
  .contacts__btn button {
    font-size: calc(10px + (6 + 6 * 0.7) * ((100vw - 320px) / 1280));
  }
  .contacts__right {
    margin: 22px 0 0 0;
  }
  .contacts__item {
    margin: 9px 0 0 0;
  }
  .contacts__text {
    padding: 8px 0 0 0;
    font-size: calc(10px + (6 + 6 * 0.7) * ((100vw - 320px) / 1280));
  }
  .contacts__buttons {
    margin: 15px 0 0 0;
  }
}

.footer {
  background: #fff;
}
.footer__text {
  padding: 5px 0;
  text-align: center;
  color: #445161;
  font-size: calc(10px + 4 * (100vw / 1280));
}
@media (min-width: 1280px) {
  .footer {
    font-size: 14px;
  }
}
@media (max-width: 955px) {
  .footer {
    font-size: calc(10px + (4 + 4 * 0.7) * ((100vw - 320px) / 1280));
  }
}