@charset "UTF-8";
/*##### VARIABLES ######################################################################################*/
/*##### VARIABLES ######################################################################################*/
/*##### FONTS ##########################################################################################*/
@font-face {
  font-family: "ArialMT";
  src: url("fonts/Arial-BoldMT.eot");
  src: local("☺"), url("../fonts/Arial-BoldMT.woff") format("woff"), url("fonts/Arial-BoldMT.ttf") format("truetype"), url("fonts/Arial-BoldMT.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "ArialMT";
  src: url("fonts/Arial-ItalicMT.eot");
  src: local("☺"), url("../fonts/Arial-ItalicMT.woff") format("woff"), url("fonts/Arial-ItalicMT.ttf") format("truetype"), url("fonts/Arial-ItalicMT.svg") format("svg");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "ArialMT";
  src: url("fonts/ArialMT.eot");
  src: local("☺"), url("../fonts/ArialMT.woff") format("woff"), url("fonts/ArialMT.ttf") format("truetype"), url("fonts/ArialMT.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
/*##### FONTS ##########################################################################################*/
/*##### PRESET #########################################################################################*/
body {
  font-family: "ArialMT";
  min-width: 1210px;
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
}

.container {
  width: 1210px;
  margin: 0 auto;
  padding: 0 15px;
}

/*##### PRESET #########################################################################################*/
/*##### HEADER #########################################################################################*/
.header {
  background: #445162;
}
.header__row {
  display: flex;
  justify-content: space-between;
}
.header__left {
  padding: 50px 0;
}
.header__title {
  font-family: ArialMT;
  font-size: 60px;
  line-height: 1.2;
  color: #fff;
}
.header__list {
  margin: 38px 0 0 0;
}
.header__list li {
  font-family: ArialMT;
  font-size: 20px;
  line-height: 36px;
  color: #fff;
  background: url("../img/header/check_icon.png") no-repeat 0 6px;
  padding: 0 0 0 35px;
  margin: 8px 0 0 0;
}
.header__list li:first-child {
  margin: 0;
}
.header__right {
  padding: 50px 0;
}
.header__img {
  width: 470px;
  background: #fff;
  height: 100%;
}

/*##### HEADER #########################################################################################*/
/*##### MAIN ###########################################################################################*/
/*##### CONTENT ########################################################################################*/
.about__row {
  display: flex;
  justify-content: space-between;
}
.about__left {
  padding: 50px 0 100px 0;
}
.about__text {
  margin: 20px 0 0 0;
  font-family: ArialMT;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #333333;
}
.about__right {
  padding: 50px 0;
  margin: 0 0 0 100px;
}
.about__image {
  background-color: #445161;
  height: 100%;
  width: 430px;
}

.title {
  font-family: ArialMT;
  font-size: 30px;
  line-height: 36px;
  color: #445161;
}

/*######################################################################################################*/
.pluses {
  background: #f5f5f5;
}
.pluses__head {
  padding: 50px 0 0 0;
}
.pluses__title {
  text-align: center;
}
.pluses__body {
  padding: 0 0 50px 0;
  margin: 25px 0 0 0;
}
.pluses__row {
  display: flex;
  margin: 30px 0 0 0;
  justify-content: space-between;
}
.pluses__row:first-child {
  margin: 0;
}
.pluses__text {
  background: url("../img/pluses/plus.jpg") no-repeat 0 5px;
  padding: 0 0 0 37px;
  font-family: ArialMT;
  font-size: 16px;
  line-height: 24px;
  color: #333333;
}

/*######################################################################################################*/
.screenshots__head {
  padding: 47px 0 0 0;
}
.screenshots__title {
  text-align: center;
}
.screenshots__body {
  margin: 30px 0 0 0;
  padding: 0 0 50px 0;
}
.screenshots__row {
  display: flex;
  margin: 30px 0 0 0;
}
.screenshots__row:first-child {
  margin: 0;
}
.screenshots__block {
  display: flex;
  margin: 0 0 0 10px;
}
.screenshots__block:first-child {
  margin: 0;
}
.screenshots__image {
  width: 200px;
  height: 150px;
  background-color: #445161;
}
.screenshots__block-right {
  margin: 0 0 0 10px;
}
.screenshots__block-title {
  font-family: ArialMT;
  font-size: 24px;
  line-height: 30px;
  color: #445161;
}
.screenshots__text {
  margin: 7px 0 0 0;
  font-family: ArialMT;
  font-size: 16px;
  line-height: 24px;
  color: #333333;
}

/*######################################################################################################*/
.reviews {
  background: #f5f5f5;
}
.reviews__head {
  padding: 45px 0 0 0;
}
.reviews__title {
  text-align: center;
}
.reviews__body {
  margin: 35px 0 0 0;
  padding: 0 0 50px 0;
}
.reviews__row {
  display: flex;
  margin: 25px 0 0 0;
}
.reviews__row:first-child {
  margin: 0;
}
.reviews__block {
  display: flex;
  margin: 0 0 0 32px;
}
.reviews__block:first-child {
  margin: 0;
}
.reviews__avatar {
  width: 75px;
  height: 75px;
  background-color: #445161;
  border-radius: 50%;
}
.reviews__block-right {
  margin: 0 0 0 30px;
  background: #ebebeb;
  padding: 10px 15px;
  border-radius: 5px;
}
.reviews__block-right::before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-top: 13px solid transparent;
  border-right: 15px solid #ebebeb;
  border-bottom: 13px solid transparent;
  position: relative;
  right: 30px;
  top: 15px;
}
.reviews__text {
  font-family: ArialMT;
  line-height: 18px;
  font-style: italic;
  color: #333333;
}
.reviews__author {
  margin: 10px 0 0 0;
  font-family: ArialMT;
  line-height: 18px;
  color: #989898;
}

/*######################################################################################################*/
.buy__title {
  text-align: center;
  padding: 45px 0 0 0;
}
.buy__body {
  margin: 30px 0 0 0;
  padding: 0 0 50px 0;
}
.buy__row {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.buy__block {
  background: #445162;
  border-radius: 4px;
  margin: 0 0 0 45px;
}
.buy__block:first-child {
  margin: 0;
}
.buy__name {
  font-family: ArialMT;
  font-size: 24px;
  line-height: 30px;
  color: #fff;
  text-align: center;
  padding: 10px 100px;
}
.buy__price {
  font-family: ArialMT;
  font-size: 40px;
  line-height: 30px;
  color: #445162;
  text-align: center;
  padding: 12px 100px;
  background: #fff;
  border: 2px solid #445162;
}
.buy__list {
  margin: 15px 0 0 20px;
}
.buy__list li {
  font-family: ArialMT;
  line-height: 24px;
  color: #ffffff;
}
.buy__button {
  text-align: center;
  margin: 15px 0 20px 0;
}
.buy__link {
  display: inline-block;
  font-family: ArialMT;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  color: #445161;
  background: #fff;
  padding: 10px 105px;
  border-radius: 4px;
}

/*######################################################################################################*/
.contacts {
  background: #445162;
}
.contacts__title {
  padding: 50px 0 0 0;
  color: #fff;
  text-align: center;
}
.contacts__body {
  display: flex;
  justify-content: center;
  padding: 0 0 50px 0;
  margin: 30px 0 0 0;
}
.contacts__form {
  display: flex;
  flex-flow: column;
}
.contacts__input {
  font-family: ArialMT;
  font-size: 16px;
  line-height: 24px;
  color: #445162;
  padding: 10px 5px;
  width: 500px;
  margin: 20px 0 0 0;
  border-radius: 4px;
}
.contacts__input:first-child {
  margin: 0;
}
.contacts__textarea {
  margin: 20px 0 0 0;
  padding: 10px 5px;
  width: 500px;
  height: 135px;
  font-family: ArialMT;
  font-size: 16px;
  line-height: 24px;
  color: #445162;
  border-radius: 4px;
}
.contacts__btn {
  text-align: center;
}
.contacts__btn button {
  margin: 20px 0 0 0;
  cursor: pointer;
  text-transform: uppercase;
  font-family: ArialMT;
  color: #445162;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  display: inline-block;
  padding: 10px 45px;
  border-radius: 4px;
}
.contacts__communication {
  margin: 0 0 0 45px;
}
.contacts__item {
  display: flex;
  margin: 20px 0 0 0;
}
.contacts__item:first-child {
  margin: 0;
}
.contacts__img {
  flex: 0 0 26px;
}
.contacts__text {
  margin: 0 0 0 3px;
  font-family: ArialMT;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #ffffff;
}
.contacts__links {
  margin: 30px 0 0 0;
}
.contacts__link {
  margin: 0 0 0 2px;
}
.contacts__link:first-child {
  margin: 0;
}

/*######################################################################################################*/
/*##### CONTENT ########################################################################################*/
/*##### MAIN ###########################################################################################*/
/*##### FOOTER #########################################################################################*/
.footer {
  background: #fff;
}
.footer__copyright {
  padding: 10px 0 5px 0;
  text-align: center;
  font-family: ArialMT;
  font-size: 14px;
  line-height: 24px;
  color: #445162;
}

/*##### FOOTER #########################################################################################*/